body {
	#container {
	width:1400px;
			ul li{
			display:inline-block;
			}
			#preview{
		    width: 400px;
			height:300px;
			border:1px solid green;
			background-repeat: no-repeat;
			background-size: auto 100%;}	
}
	}	
@each $animal in cat-1, cat-2, cat-3, cat-4, cat-5 {
  ##{$animal}{
  		&:hover ~ #preview{
    background-image: url('./images/#{$animal}.jpg');}		
  }
}



	
